/* *, *:before, *:after {
    box-sizing: border-box;
}*/
html{
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    border:0;
    padding:0;
    font-style:normal;
}
html,body {
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-user-select:none;
    background-color: #fff;
    color:rgb(50,50,50);
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
    display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
    display:inline-block;
}
header,section,footer {
    position:relative;
}
ol,ul{
    list-style:none;
}
input,button,textarea {
    border:0;
    margin:0;
    padding:0;
    font-size:1em;
    line-height:1em;
    /*-webkit-appearance:none;*/
    background-color:rgba(0, 0, 0, 0);
}
span{
    display:inline-block;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited{
    text-decoration:none;
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}
//滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-color: transparent;
}
::-webkit-scrollbar-track {
  border: 1px solid transparent;
  box-shadow: 0px 0px 3px transparent inset;
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border: 1px #808080 solid;
  border-radius: 10px;
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

/**
*复用样式
**/
.list-container{
  padding: 1.5rem;
  .util-bar{
    border-left:1px solid #e0e0e0;
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    padding-left:1.5rem;
    .el-input{
      padding-left:1rem;
      width:15rem;
      input{
        border: none;
      }
    }
  }
}
